Package: MoonRay
Version: 1.7.0.0~pre1-1
Maintainer: Guillaume GASNIER, fantomid@free.fr
Architecture: amd64
Description: MoonRay Production Renderer for CPU and GPU
 MoonRay is DreamWorks Animation’s in-house 3D renderer, 
 used to render all DreamWorks movies since How To Train Your Dragon: The Hidden World.
